
name: Run security checks

on:
    pull_request:
        branches: ["main"]

jobs:
    semgrep:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                python-version: '3.12' 
            
            - name: Install Semgrep
              run: pip install semgrep
            
            - name: Run Semgrep security checks
              run: semgrep --config=./rules
